/**
 * Sorry, this CSS is a hack :(
 */

body {
  padding-top: 50px;
}

.change-log tbody .date {
  font-style: italic;
  width: 100px
}

.pagination ul > li > a, .pagination ul > li > span {
  padding: 0 11px;
}

.table .actions {
  text-align: right;
  padding-right: 10px;
}

.table .actions a {
  color: #666;
  font-size: 18px;
  margin-left: 8px;
}

.table .actions a:hover {
  color: #444;
  text-decoration: none;
}

.table .actions a.icon-heart.active {
  color: #FF0047;
}

.page-header {
  position: relative;
}

.page-header .actions {
  position: absolute;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.page-header h1 + .actions {
  margin-top: -40px;
}

.page-header .actions > li {
  display: inline-block;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  vertical-align: middle;
}

.page-header .actions > li input {
  margin-bottom: 0;
}

.page-header .actions > li .btn-group {
  display: inline-block;
}

.page-header .actions .filters .btn-group {
  margin-left: 6px;
}

.page-business-details-locations > .header {
  margin-bottom: 32px;
}

.page-business-details-locations > .header > .btn-toolbar {
  float: right;
  margin-top: -42px;
}

.location > .header > .btn-toolbar {
  float: right;
  margin-top: -46px;
}

.hours-list dd,
.hours-list dt {
  display: inline-block;
}

.hours-list dt {
  width: 30px;
}

.location-edit .hour-actions-heading {
  margin-left: -44px;
}

.location-edit .hour-action {
  text-align: center;
}

.location-edit #location-state-input {
  margin-top: 5px;
}

.btn-new-user > i {
  margin-right: 6px;
}

table select,
table textarea,
table input[type="text"],
table input[type="password"],
table input[type="datetime"],
table input[type="datetime-local"],
table input[type="date"],
table input[type="month"],
table input[type="time"],
table input[type="week"],
table input[type="number"],
table input[type="email"],
table input[type="url"],
table input[type="search"],
table input[type="tel"],
table input[type="color"],
table .uneditable-input {
  margin-bottom: 0;
  width: 100%;
}

.edit-mode-value, .read-mode-value {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

tr .edit-mode-value {
  display: none;
}

.edit-mode-value.input-small {
  width: 100px;
}

textarea.edit-mode-value {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

td.name {
  width: 200px;
}

td.order {
  width: 100px;
}

.accounts-nav {
  margin-top: -28px;
  border: none;
}

.groups-select {
  width: 200px;
}

/* Overqualified to have enough specificity to override bootstrap */
#accounts-pages table .actions .btn-group .btn.dropdown-toggle {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-header > .nav .dropdown-menu {
  margin-left: -77px;
}

#users-table td {
  max-width: 164px;
}

#users-table td.actions,
#users-table td.id {
  max-width: auto;
}

table .read-mode-value {
  display: inline-block;
  word-wrap: break-word;
}

.page-actions {
  position: relative;
  min-height: 60px;
}

.page-actions .search-wrapper {
  position: absolute;
  top: 0; right: 0;
}

table input.avatarUrl {
  display: none;
}
table img.avatarUrl {
  width: 50px;
  cursor: pointer;
}

table .select-box {
  width: 100%;
}

.barrel-roll {
  -webkit-transform-origin-y: -100px;
  -webkit-animation: barrel-roll 2s ease-out;
}

/* Input elements */
.location-edit .hours-heading ~ * .span1 {
  min-width: 84px;
}

/* Headings */
.location-edit .hours-heading + * > .span1 {
  min-width: 92px;
  text-align: center;
}

#main-loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

input.error {
  border-color: #B94A48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #B94A48;
}

@-webkit-keyframes barrel-roll {
  from { -webkit-transform: rotate(0); }
  to   { -webkit-transform: rotate(360deg); }
}

.nav [class^=icon-] {
  margin-right: 8px;
  color: #666;
}

.nav .active [class^=icon-] {
  margin-right: 18px;
  color: #333;
}

td.price input {
  width: 40px;
}

td.photoUrl {
  width: 60px;
}

td .tags-select {
  width: 120px;
}

td .categories-select {
  width: 140px;
}

td textarea:focus {
  position: absolute;
  width: 400px;
  z-index: 100;
}

.photo-editor {
  position: relative;
  border: solid #444 1px;
  border-radius: 5px;
}

.photo-editor .menu {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
  background-color: rgba(0,0,0, 0.4);
  color: #FFFFDF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);

  -webkit-transtion: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}

.photo-editor .menu:hover {
  opacity: 1;
  cursor: pointer;
}

.photo-editor .menu li {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50%;
  border-bottom: solid rgba(0,0,0, 0.3) 1px;
  /*margin-bottom: 2%;*/
  background-color: rgba(0,0,0, 0);

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transtion: background-color ease-in-out 0.2s;
  -moz-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}

.photo-editor .menu li.clear {
  color: #FF6E6E;
}

.photo-editor .menu li:hover {
  background-color: rgba(0,0,0, 0.5);
}

.photo-editor .menu li:nth-child(odd){
  border-right: solid rgba(0,0,0, 0.3) 1px;
  box-shadow: 1px 0 0 rgba(255,255,255, 0.2);
}

.photo-editor .menu li:nth-child(n+3){
  /*margin-top: 2%;
  margin-bottom: 0;*/
  border-bottom: none;
}

.photo-editor .menu i {
  line-height: 30px;
}

.modal .modal-body {
  max-height: 640px;
}

.sidebar-nav-wrapper {
  margin-left: 0 !important;
  width: 160px;
}

@media (min-width: 1200px) {
  .sidebar-nav-wrapper {
    width: 200px;
  }
}

.topnav {
  z-index: 999;
  color: white;
  background-color: #DC291E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
}

.brand {
  padding-left: 20px;
  padding-right: 5px;
  color: white;
  font-size: 16px;
}

.topnav a {
  padding-top: 3px;
  color: white;
}

.topnav li a:hover {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

a.brand:hover {
  color: white;
  text-decoration: none;
}

.nav {
  margin-bottom: 0px;
}

.nav.pull-right li {
  padding-right: 20px;
}

.topnav-inner {
  padding-top: 10px;
}

#bizpanel-nav {
  position: fixed;
  left: 10px;
  top: 60px;
  padding-bottom: 0px;
}

#bizpanel-content {
  margin-left: 150px;
}

.menu-view-fixed-header, .tablet-view-fixed-header {
  position: fixed;
  top: 50px;
  width: 100%;
  background-color: white;
}

.menu-products-table-container {
  margin-top: 200px;
}

.tablet-products-table-container {
  margin-top: 150px;
}

.omfg {
  position:fixed;
  bottom:0px;
  left:0px;
  padding-left: 170px;
  top: 300px;
  height:100%;
  width:100%;
  overflow:auto;
  box-sizing: border-box;
}

#bizpanel-nav li a {
  height: 30px;
  padding-top:20px;
  vertical-align: middle;
  border: 0px;
  padding: 15px 10px 10px 10px;
}

#bizpanel-nav li.active a {
  color: white;
  background-color: #DC291E;
  cursor: pointer;
}

#bizpanel-nav .nav [class^=icon-] {
  margin-right: 8px;
  color: #666;
}

#bizpanel-nav .nav .active [class^=icon-] {
  color: white;
}


input.time {
  width: 70px;
}

table.hours td {
  padding-right: 20px;;
  padding-bottom: 10px;
}

table.hours .day-name {
  text-align: right;
}

.control-group .business-logo {
  cursor: pointer;
}

.business-name, .location-name {
  vertical-align: middle;
}

form.contact {
  padding-top: 50px;
}

form.contact input[type=text], input[type=email], form.contact textarea {
  width: 60%;
}

img.msg {
  cursor: pointer;
}

.measure.thumbnail {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
}

.measure .name {
  border-bottom: 1px solid #EEE;
  padding-bottom: 5px;
}

.menu-products thead .msg {
  cursor: pointer;
  color: #0088cc;
}

.menu-products thead i {
  cursor: pointer;
  color: #555;
}

.display-toggle label {
  width: 100%;
  cursor: pointer;
}

.product-view-container td {
  border: 0px;
  padding: 0px;
}

.product-view-container em {
  display: none;
}

.product-view-container.not-available em {
  display: block;
  color: #555;
  font-weight: bold;
}

div.product-view {
  padding: 10px 0 10px 0;
  border-top: 1px solid #EEE;
}

.product-view .product-photo {
  width: 70px;
}

.product-name {
  font-weight: bold;
}

.not-available .product-name {
  color: #777;
}

.product-description {
  color: #777;
}
