/**
 * Sorry, this CSS is a hack :(
 */

body {
  padding-top: 50px;
}

.change-log tbody .date {
  font-style: italic;
  width: 100px
}

.pagination ul > li > a, .pagination ul > li > span {
  padding: 0 11px;
}

.table .actions {
  text-align: right;
  padding-right: 10px;
}

.table .actions a {
  color: #666;
  font-size: 18px;
  margin-left: 8px;
}

.table .actions a:hover {
  color: #444;
  text-decoration: none;
}

.table .actions a.icon-heart.active {
  color: #FF0047;
}

.page-header {
  position: relative;
}

.page-header .actions {
  position: absolute;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.page-header h1 + .actions {
  margin-top: -40px;
}

.page-header .actions > li {
  display: inline-block;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  vertical-align: middle;
}

.page-header .actions > li input {
  margin-bottom: 0;
}

.page-header .actions > li .btn-group {
  display: inline-block;
}

.page-header .actions .filters .btn-group {
  margin-left: 6px;
}

.page-business-details-locations > .header {
  margin-bottom: 32px;
}

.page-business-details-locations > .header > .btn-toolbar {
  float: right;
  margin-top: -42px;
}

.location > .header > .btn-toolbar {
  float: right;
  margin-top: -46px;
}

.hours-list dd,
.hours-list dt {
  display: inline-block;
}

.hours-list dt {
  width: 30px;
}

.location-edit .hour-actions-heading {
  margin-left: -44px;
}

.location-edit .hour-action {
  text-align: center;
}

.location-edit #location-state-input {
  margin-top: 5px;
}

.btn-new-user > i {
  margin-right: 6px;
}

table select,
table textarea,
table input[type="text"],
table input[type="password"],
table input[type="datetime"],
table input[type="datetime-local"],
table input[type="date"],
table input[type="month"],
table input[type="time"],
table input[type="week"],
table input[type="number"],
table input[type="email"],
table input[type="url"],
table input[type="search"],
table input[type="tel"],
table input[type="color"],
table .uneditable-input {
  margin-bottom: 0;
  width: 100%;
}

.edit-mode-value, .read-mode-value {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

input.edit-mode-value {
  display: none;
}

.accounts-nav {
  margin-top: -28px;
  border: none;
}

.groups-select {
  width: 200px;
}

/* Overqualified to have enough specificity to override bootstrap */
#accounts-pages table .actions .btn-group .btn.dropdown-toggle {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-header > .nav .dropdown-menu {
  margin-left: -77px;
}

#users-table td {
  max-width: 164px;
}

#users-table td.actions,
#users-table td.id {
  max-width: auto;
}

table .read-mode-value {
  display: inline-block;
  word-wrap: break-word;
}

.page-actions {
  position: relative;
  min-height: 60px;
}

.page-actions .search-wrapper {
  position: absolute;
  top: 0; right: 0;
}

table input.avatarUrl {
  display: none;
}
table img.avatarUrl {
  width: 50px;
  cursor: pointer;
}

table .select-box {
  width: 100%;
}

.barrel-roll {
  -webkit-transform-origin-y: -100px;
  -webkit-animation: barrel-roll 2s ease-out;
}

/* Input elements */
.location-edit .hours-heading ~ * .span1 {
  min-width: 84px;
}

/* Headings */
.location-edit .hours-heading + * > .span1 {
  min-width: 92px;
  text-align: center;
}

@-webkit-keyframes barrel-roll {
  from { -webkit-transform: rotate(0); }
  to   { -webkit-transform: rotate(360deg); }
}