<ul class="menu">
  <li class="edit">
    <i class="icon-upload" />
  </li>
  <li class="clear">
    <i class="icon-trash" />
  </li>
  <li class="view">
    <i class="icon-search" />
  </li>
</ul>
<img src="{{filepicker model.photoUrl 100 100}}" alt="{{model.name}}">