<div class="row page-actions">
  <div class="input-append search-wrapper">
    <input class="span2 users-search" placeholder="Search by Email" type="text">
    <button class="btn" type="button">
      <i class="icon-search"></i>
    </button>
  </div>
  <div class="users-paginator-top"></div>
</div>
<table class="table table-striped users-table">
  <thead>
    <tr>
      <th class="id">Id</th>
      <th class="businessId">Business</th>
      <th class="locationId">Location</th>
      <th class="galleryEnabled">Gallery</th>
      <th class="loyaltyEnabled">Loyalty</th>
      <th class="actions">
        <button class="btn btn-primary btn-new-user">
          <i class="icon-plus-sign-alt"></i>
          New TapIn Station
        </button>
      </th>
    </tr>
  </thead>
  <tbody class="users-list"></tbody>
</table>

<div class="users-paginator-bottom"></div>