<div id="users-paginator-top"></div>
<ul class="dropdown-menu open">
  <li><a href="#">Testing</a></li>
</ul>
<table id="users-table" class="table table-striped">
  <thead>
    <tr>
      <th class="id">Id</th>
      <th class="email">Email</th>
      <th class="password">Password</th>
      <th class="singly-id">Singly Id</th>
      <th class="singly-access-token">Singly Access Token</th>
      <th class="groups">Groups</th>
      <th class="actions">
        <button class="btn btn-primary btn-new-user" id="users-new-user-btn">
          <i class="icon-plus-sign-alt"></i>
          New User
        </button>
      </th>
    </tr>
  </thead>
  <tbody id="users-list"></tbody>
</table>

<div id="users-paginator-bottom"></div>