<div class="row page-actions">
  <div class="input-append search-wrapper">
    <select class="search-select">
      <option value="email">Email</option>
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
    </select>
    <input class="span2 users-search" placeholder="Search" type="text">
      <button class="btn search-button" type="button">
        <i class="icon-search"></i>
      </button>
  </div>
</div>
<div class="row page-actions">
  <div class="users-paginator-top"></div>
</div>
<table class="table table-striped users-table">
  <thead>
    <tr>
      <th class="id">Id</th>
      <th class="email">Email</th>
      <th class="password">Password</th>
      <th class="singly-id">Singly Id</th>
      <th class="singly-access-token">Singly Access Token</th>
      <th class="groups">Groups</th>
      <th class="actions">
        <button class="btn btn-primary btn-new-user">
          <i class="icon-plus-sign-alt"></i>
          New User
        </button>
      </th>
    </tr>
  </thead>
  <tbody class="users-list"></tbody>
</table>

<div class="row page-actions">
  <div class="users-paginator-bottom"></div>
</div>