<div class="row page-actions">
  <div class="input-prepend input-append search-wrapper">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <strong>Email</strong>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href='#' class="search-type">Email</a></li>
        <li><a href='#' class="search-type">First Name</a></li>
        <li><a href='#' class="search-type">Last Name</a></li>
      </ul>
    </div>
    <input class="span2 users-search" placeholder="Search" type="text">
      <button class="btn search-button" type="button">
        <i class="icon-search"></i>
      </button>
  </div>
</div>
<div class="row page-actions">
  <div class="users-paginator-top"></div>
</div>
<table class="table table-striped users-table">
  <thead>
    <tr>
      <th class="id">Id</th>
      <th class="email">Email</th>
      <th class="password">Password</th>
      <th class="singly-id">Singly Id</th>
      <th class="singly-access-token">Singly Access Token</th>
      <th class="groups">Groups</th>
      <th class="actions">
        <button class="btn btn-primary btn-new-user">
          <i class="icon-plus-sign-alt"></i>
          New User
        </button>
      </th>
    </tr>
  </thead>
  <tbody class="users-list"></tbody>
</table>

<div class="users-paginator-bottom"></div>