<div id="main-loader"></div>
<div class="container-fluid">
  <div class="row-fluid">
    <div id="bizpanel-nav" class="span3 well">
      nav
    </div>
    <div id="bizpanel-content" class="span9">
      content
    </div>
  </div>
</div>
