<div id="bizpanel">
  <div id="main-loader"></div>
  <div class="container-fluid">
    <div id="bizpanel-header">
    </div>
    <div class="row-fluid">
      <div id="bizpanel-nav" class="span3 well">
      </div>
      <div id="bizpanel-content" class="span9">
      </div>
    </div>
  </div>
</div>
