<div id="main-loader"></div>
<div id="bizpanel" class="bizpanel">
  <div id="bizpanel-header">
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="bizpanel-nav">
      </div>
      <div id="bizpanel-content">
      </div>
    </div>
  </div>
</div>
<div id="picture-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3></h3>
  </div>
  <div class="modal-body">
    <img src="" />
  </div>
</div>
<div id="errorModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Uh Oh! Something has gone wrong.</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error error-message-container">
    </div>
    <p>Sorry about that. Please contact your account manager if you keep having problems, and we'll get someone looking into the issue right away!</p>
    <p>You might also want to try <a class="msg" data-msg-name="refreshPage">refreshing the page</a></p>
  </div>
</div>
