<div id="bizpanel" class="bizpanel">
  <div id="main-loader"></div>
  <div class="container-fluid">
    <div id="bizpanel-header">
    </div>
      <div id="bizpanel-nav" class="span2">
      </div>
      <div id="bizpanel-content" class="span10">
      </div>
  </div>
</div>
