<div id="bizpanel" class="bizpanel">
  <div id="main-loader"></div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="bizpanel-header" class="span12">
      </div>
    </div>
    <div class="row-fluid">
      <div id="bizpanel-nav" class="span2">
      </div>
      <div id="bizpanel-content" class="span10 page">
      </div>
    </div>
  </div>
</div>
