<ul class="nav nav-tabs nav-stacked">
  {{#each nav}}
  <li {{#active}}class='active'{{/active}}>
  <a class="msg" data-msg-name="showSection" data-section="{{name}}" href="{{url}}"><i class='icon-{{icon}}'></i>{{text}}</a>
  </li>
  {{/each}}
</ul>
