{{#if reward}}
{{#if regularPunchesRequired}}
{{#if requiredItem}}
<p class="lead resulting-sentence" id="resulting-sentence">Get a free {{reward}} after you buy {{regularPunchesRequired}} {{requiredItem}}.</p>
{{/if}}
{{/if}}
{{/if}}