{{#if reward}}
{{#if regularPunchesRequired}}
{{#if requiredItem}}
<p class="lead resulting-sentence" id="resulting-sentence">{{regularPunchesRequired}} {{requiredItem}} = {{reward}}.</p>
{{/if}}
{{/if}}
{{/if}}