<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Dashboard</h1>
        <p class="intro">Welcome to Merlin/Saruman. Soon, it will just be Merlin.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <img src="http://media.comicvine.com/uploads/3/36309/1139269-saruman02.jpg" alt="">
    </div>
    <div class="span8">
      <h2>Change Log</h2>
      <table class="change-log table table-striped">
        <thead>
          <tr>
            <th class="type">Type</th>
            <th class="message">Message</th>
            <th class="date">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added a picture of Saruman and changed the Change Log to a table.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed a bug where when you logout it sends you to the dashboard page instead of the login page.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added a feature to allow you to make a business a "Goodybag" business. It's the heart icon in the business listing. If it's colored, then the business is a Goodybag business. If it's gray, then it's not.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label"><i class="icon-asterisk"></i> Misc</span></td>
            <td class="message">Merlin Launch! Except not really we launched a long time ago but I never started the change log.</td>
            <td class="date">2013-03-19</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>