<style type="text/css">

</style>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Businesses</h1>
      </div>

      <div id="business-paginator-top"></div>

      <table id="businesses-table" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody id="businesses-list"></tbody>
      </table>

      <div id="business-paginator-bottom"></div>
    </div>
  </div>
</div>