<div class="errors">

</div>
<form id="business-details-form" class="form-horizontal">
  {{#ifAdmin}}
  <div class="control-group">
    <label class="control-label" for="business-name">Business Name</label>
    <div class="controls">
      <input class="span5" type="text" id="business-name" value="{{name}}" placeholder="Enter the business name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="business-category-main">Business Category</label>
    <div class="controls">
      <input class="span5" type="text" id="business-category-main" value="Restaurant" placeholder="Enter the main business cateogry">
    </div>
  </div>
  {{/ifAdmin}}
  <div class="control-group">
    <label class="control-label" for="business-url">Web URL</label>
    <div class="controls">
      <input class="span5" type="text" id="business-url" value="{{url}}" placeholder="Enter the url for the business">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="business-url">Logo</label>
    <div class="controls">
      <img src="{{productImage logoUrl 300}}" class="business-logo" width="300">
      <span class="help-block">Click Image to Change</span>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary btn-save-changes">Save Changes</button>
    {{#ifAdmin}}
    <button class="btn btn-danger delete-btn">Delete Business</button>
    {{else}}
    <buton class="btn msg" data-msg-name="editBusinessCancel">Cancel</button>
    {{/ifAdmin}}
  </div>
</form>
