<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Dashboard</h1>
        <p class="intro">Welcome to Merlin/Saruman. Soon, it will just be Merlin.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <img src="http://media.comicvine.com/uploads/3/36309/1139269-saruman02.jpg" alt="">
    </div>
    <div class="span8">
      <h2>Change Log</h2>
      <table class="change-log table table-striped">
        <thead>
          <tr>
            <th class="type">Type</th>
            <th class="message">Message</th>
            <th class="date">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed location hours clearing bug.</td>
            <td class="date">2013-07-17</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">When adding an existing user to the managers group, the user will become editable in the managers section.</td>
            <td class="date">2013-07-10</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added ability to modify a user's password from the edit user grid.</td>
            <td class="date">2013-07-10</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-coffee"></i> Improvement</span></td>
            <td class="message">Fixed pagination for easier business and account
            navigation.</td>
            <td class="date">2013-07-05</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-coffee"></i> Improvement</span></td>
            <td class="message">Removed responsiveness from top nav bar.</td>
            <td class="date">2013-06-12</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Added paginated business products route to router.</td>
            <td class="date">2013-06-11</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added readonly input to display formatted phone numbers on location edit.</td>
            <td class="date">2013-06-11</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed price rounding bug. This was where you would put in some price, say $4.49 and it would inexplicably round it down to $4.48</td>
            <td class="date">2013-06-10</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed highlighting on product categories.</td>
            <td class="date">2013-04-28</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed issue when creating a new product, if you set the photo, it would fail to save any of the other product details.</td>
            <td class="date">2013-04-27</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed issue where if you saved a product in one business, then went to another, the subsequent product saving would apply to the old business.</td>
            <td class="date">2013-04-26</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed Product/Categories description not saving</td>
            <td class="date">2013-04-25</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Made expandable textareas for product name and description</td>
            <td class="date">2013-04-23</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added product and product category copying</td>
            <td class="date">2013-04-23</td>
          </tr>
          <tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed location edit not saving</td>
            <td class="date">2013-04-23</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added product photo viewing capability</td>
            <td class="date">2013-04-23</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-coffee"></i> Improvement</span></td>
            <td class="message">Integrated Products/Categories into main application</td>
            <td class="date">2013-04-23</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-coffee"></i> Improvement</span></td>
            <td class="message">Added loading indicator, better error feedback, and success feedback on forms.</td>
            <td class="date">2013-04-11</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Add ability to clear photos on products</td>
            <td class="date">2013-04-10</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-coffee"></i> Improvement</span></td>
            <td class="message">Add phone number to Locations Listing</td>
            <td class="date">2013-04-10</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Removed State field from locations</td>
            <td class="date">2013-04-09</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Add input for phone number in Locations</td>
            <td class="date">2013-04-09</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed issue where locations hours information was being hidden because the fields were too small. Widened fields.</td>
            <td class="date">2013-04-09</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed business listing not showing all businesses.</td>
            <td class="date">2013-03-22</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed Tapin Station checkboxes for Gallery and Loyalty enabling/disabling.</td>
            <td class="date">2013-03-21</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-warning"><i class="icon-coffee"></i> Improvement</span></td>
            <td class="message">Menu Items now use a smaller version of the product image to make load times faster.</td>
            <td class="date">2013-03-21</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added filters in business listing: Is Goodybag, Verified, Un-Verified</td>
            <td class="date">2013-03-20</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Tablets can now set the Number of Unconfirmed Punches Allowed property. Enjoy!</td>
            <td class="date">2013-03-20</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added facebook login.</td>
            <td class="date">2013-03-20</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added checks to ensure user is an admin or sale.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">The password input now clears upon login attempt.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added a picture of Saruman and changed the Change Log to a table.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-important"><i class="icon-bolt"></i> Bug</span></td>
            <td class="message">Fixed a bug where when you logout it sends you to the dashboard page instead of the login page.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label label-success"><i class="icon-fighter-jet"></i> Feature</span></td>
            <td class="message">Added a feature to allow you to make a business a "Goodybag" business. It's the heart icon in the business listing. If it's colored, then the business is a Goodybag business. If it's gray, then it's not.</td>
            <td class="date">2013-03-19</td>
          </tr>
          <tr>
            <td class="type"><span class="label"><i class="icon-asterisk"></i> Misc</span></td>
            <td class="message">Merlin Launch! Except not really we launched a long time ago but I never started the change log.</td>
            <td class="date">2013-03-19</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
