<div class="container">
  <div class="page-header">
    <h1>Businesses</h1>

    <ul class="actions">
      <li class="search-wrapper">
        <input class="span2 business-search" placeholder="Search Businesses" type="text">
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked" id="businesses-nav">
        <li class="all">
          <a href="#/businesses/page/1">All Businesses</a>
        </li>
        <li class="verified">
          <a href="#/businesses/page/1/verified">Verified Businesses</a>
        </li>
        <li class="unverified">
          <a href="#/businesses/page/1/unverified">Un-Verified Businesses</a>
        </li>
      </ul>
    </div>
    <div class="span9">

      <div id="business-paginator-top"></div>

      <table id="businesses-table" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th class="actions">
              <button class="btn btn-primary btn-new-business">New Business</button>
            </th>
          </tr>
        </thead>
        <tbody id="businesses-list"></tbody>
      </table>

      <div id="business-paginator-bottom"></div>
    </div>
  </div>
</div>