<div class="row page-actions">
  <div class="search-wrapper">
    <input class="span2 products-search" id="products-search" placeholder="Search by Product" type="text">
  </div>
  <div id="products-paginator-top"></div>
</div>

<table class="table table-striped products-table" id="products-table"></table>

<div id="products-paginator-bottom"></div>