<div id="product-categories-paginator-top"></div>

<table class="table table-striped product-categories-table" id="product-categories-table"></table>

<div id="product-categories-paginator-bottom"></div>