<div class="header">
  <h2>Locations List (<span class="count">{{count}}</span>)</h2>
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn add-location">
        <i class="icon-plus-sign"></i>
        Add Location
      </button>
    </div>
  </div>
</div>

<div id="locations-paginator-top"></div>

<div id="locations-list"></div>

<div id="locations-paginator-bottom"></div>