<div class="errors">

</div>
<form id="business-details-form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="business-name">Business Name</label>
    <div class="controls">
      <input class="span5" type="text" id="business-name" value="{{name}}" placeholder="Enter the business name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="business-category-main">Business Category</label>
    <div class="controls">
      <input class="span5" type="text" id="business-category-main" value="Restaurant" placeholder="Enter the main business cateogry">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="business-url">Web URL</label>
    <div class="controls">
      <input class="span5" type="text" id="business-url" value="{{url}}" placeholder="Enter the url for the business">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="business-url">Logo</label>
    <div class="controls">
      <img src="{{defaultBusinessLogo logoUrl}}" class="business-logo" width="300">
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <button class="btn btn-danger delete-btn">Delete Business</button>
  </div>
</form>